#finalizar-compra {
  background-color: #0b0f45; /* Establece el color de fondo del botón */
  border: none; /* Elimina el borde del botón */
  color: white; /* Establece el color del texto del botón */
  padding: 15px 32px; /* Ajusta el espacio interno del botón */
  text-align: center; /* Centra el texto del botón */
  text-decoration: none; /* Elimina la decoración del texto */
  display: inline-block; /* Establece el botón como elemento en línea */
  font-size: 16px; /* Establece el tamaño de fuente del texto */
  margin: 4px 2px; /* Ajusta el margen del botón */
  cursor: pointer; /* Establece el cursor del mouse */
  border-radius: 5px; /* Ajusta el radio de las esquinas del botón */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-control {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #0c094c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #136473;
}

main {
  margin-bottom: 40px;
}
